In [20]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
business_account = pd.read_excel("../shared_data_read_only/Business Account.xlsx")
consumer_price_index = pd.read_excel("../shared_data_read_only/consumer_price_index.xlsx")
contacts = pd.read_excel("../shared_data_read_only/Contacts.xlsx")
data_dictionary = pd.read_excel("../shared_data_read_only/Data dictionary.xlsx")
invoice_opportunities = pd.read_excel("../shared_data_read_only/Invoice and Opportunities.xlsx")
items_opportunities = pd.read_excel("../shared_data_read_only/Items and Opportunities.xlsx")
non_stock_items = pd.read_excel("../shared_data_read_only/Non-Stock Items.xlsx")
opportunities = pd.read_excel("../shared_data_read_only/Opportunities.xlsx")

In [6]:
business_account

,Business Account,Customer Status,Type,Partner type,Class,Class Name,Activity sector,Parent Business Account,Owner Name,Follow-up with,Postal Code,City,State,Country ID,Country Name,Created On,Last Modified On
0,C00001,Active,Customer,Partner,02FONDA,Foundation,"HEALTH - SOCIAL - Social, Associations, Founda...",NaN,2.0,NaN,69009,LYON,NaN,FR,France,2021-02-02 15:35:10.183,2023-01-04 15:51:00.977
1,C00002,Active,Customer,NaN,NaN,NaN,NaN,NaN,13.0,NaN,69005,Lyon,NaN,FR,France,2021-02-02 15:35:11.213,2021-03-24 16:25:28.393
2,C00003,Active,Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:11.457,2021-02-18 09:58:03.387
3,C00004,Active,Customer,Partner,01SIEGE,Headquarters,"BUSINESS ADMINISTRATION - Consulting, Audit, A...",NaN,12.0,NaN,75008,PARIS,NaN,FR,France,2021-02-02 15:35:11.770,2023-08-03 11:08:03.953
4,C00005,Active,Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:12.013,2021-02-18 09:58:03.620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3478,C19916,Prospect,Business Account,Partner,01SIEGE,Headquarters,"MEDIA - ARTS - SPORTS - Sports, Infrastructure...",NaN,7.0,NaN,75019,Paris,NaN,FR,France,2023-07-03 17:18:35.647,2023-07-03 17:18:35.647
3479,C19917,Active,Customer,Prospect,01SIEGE,Headquarters,"HEALTH - SOCIAL - Social, Associations, Founda...",NaN,24.0,NaN,69800,Saint Priest,NaN,FR,France,2023-07-04 09:04:13.730,2023-07-24 15:25:42.843
3480,C19918,Prospect,Business Account,Prospect,01SIEGE,Headquarters,"COMMUNICATION - Marketing, Advertising, Commun...",NaN,NaN,NaN,NaN,Montréal - Paris - Toronto,NaN,FR,France,2023-07-04 10:29:57.430,2023-07-04 10:29:57.430
3481,C19986,Prospect,Business Account,Institutional partner,21ETAT,State,SECTEUR PUBLIC - Etat & ses établissements pub...,NaN,17.0,NaN,93008,Bobigny,NaN,FR,France,2023-07-05 15:37:58.080,2023-07-05 15:37:58.080
3482,C19987,Prospect,Business Account,Partner,01SIEGE,Headquarters,"MEDIA - ARTS - SPORTS - Audiovisual, Media, Pu...",NaN,7.0,NaN,75002,PARIS,NaN,FR,France,2023-07-06 12:13:13.703,2023-07-06 12:13:13.703

In [3]:
opportunities

,Opportunity ID,Business Account,Contact ID,Estimated Close Date,Status,Stage,Probability,Estimated amount,Amount received,Difference,...,Theorical payment amount 3,Theorical payment date 4,Theorical payment amount 4,Theorical payment date 5,Theorical payment amount 5,Created On,Last Modified Date,Actual Close Date,Assignment Date,Branch ID
0,6387,C00037,35334.0,2023-11-27,New,Won,100,9000.0,NaN,-9000.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-11 10:59:07.310,2023-10-11 10:59:07.310,NaT,2023-10-11 10:58:16.137,SDLV
1,6386,C01254,36240.0,2023-10-11,New,Won,100,9000.0,NaN,-9000.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-11 10:55:50.773,2023-10-11 10:55:50.773,NaT,2023-10-11 10:53:26.857,SDLV
2,6385,C21512,47640.0,2023-10-11,New,Oral agreement,80,140.0,NaN,-140.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-11 08:53:52.533,2023-10-11 08:54:37.860,NaT,2023-10-11 08:52:52.257,SDLV
3,6384,C21509,47636.0,2023-10-11,New,Oral agreement,80,350.0,NaN,-350.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-11 08:42:41.140,2023-10-11 08:42:41.140,NaT,2023-10-11 08:41:27.513,SDLV
4,6383,C21508,47635.0,2023-10-10,New,Oral agreement,80,120.0,NaN,-120.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-10 15:54:31.827,2023-10-10 15:56:12.527,NaT,2023-10-10 15:53:17.550,SDLV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,5,C00036,NaN,2020-01-01,Won,Won,100,1059.0,NaN,-1059.0,...,NaN,NaT,NaN,NaT,NaN,2021-02-12 06:10:11.650,2022-12-14 09:45:10.033,2022-12-14,2021-02-12 06:10:11.487,SDLV
5982,4,C00024,NaN,2020-01-01,Won,Won,200,7500.0,7500.0,0.0,...,NaN,NaT,NaN,NaT,NaN,2021-02-12 06:10:11.167,2021-11-17 15:22:01.390,2021-11-17,2021-02-12 06:10:09.940,SDLV
5983,3,C00011,NaN,2020-01-01,Won,Won,100,35000.0,NaN,-35000.0,...,NaN,NaT,NaN,NaT,NaN,2021-02-12 06:10:09.633,2021-03-19 07:01:54.480,2021-03-19,2021-02-12 06:10:09.520,SDLV
5984,2,C00331,NaN,2020-01-01,Won,Won,100,20000.0,NaN,-20000.0,...,NaN,NaT,NaN,NaT,NaN,2021-02-12 06:10:09.020,2021-08-25 11:52:18.820,2021-08-25,NaT,SDLV
5985,1,C00331,NaN,2020-01-01,Won,Won,100,10000.0,NaN,-10000.0,...,NaN,NaT,NaN,NaT,NaN,2021-02-12 06:10:08.500,2021-03-19 07:01:54.050,2021-03-19,NaT,SDLV

In [4]:
print(opportunities.isna().sum())

Opportunity ID                                  0
Business Account                                2
Contact ID                                   3195
Estimated Close Date                            0
Status                                          0
Stage                                           0
Probability                                     0
Estimated amount                                0
Amount received                              3250
Difference                                      0
Owner Name                                    250
Follow-up with                               5001
Class ID                                        0
Class                                           0
Source                                       5445
Source Campaign                              4828
Campaign Name                                4828
Programme financé                            2136
Action financée                              5613
Agreement                                    2100
Signature date of the agreement              5733
Agreement expiry date                        5739
Duration of agreement (months)               5687
Deadline for submission of interim report    5940
Final report deadline                        5910
Type de contrat                              5742
Type de financement                          3330
Zone SDLV                                    3013
Theorical payment date 1                     5635
Theorical payment amount 1                   5667
Theorical payment date 2                     5884
Theorical payment amount 2                   5887
Theorical payment date 3                     5933
Theorical payment amount 3                   5934
Theorical payment date 4                     5967
Theorical payment amount 4                   5967
Theorical payment date 5                     5976
Theorical payment amount 5                   5976
Created On                                      0
Last Modified Date                              0
Actual Close Date                            1607
Assignment Date                               227
Branch ID                                       0
dtype: int64

In [9]:
opportunities.dtypes

Opportunity ID                                        int64
Business Account                                     object
Contact ID                                          float64
Estimated Close Date                         datetime64[ns]
Status                                               object
Stage                                                object
Probability                                           int64
Estimated amount                                    float64
Amount received                                     float64
Difference                                          float64
Owner Name                                          float64
Follow-up with                                      float64
Class ID                                             object
Class                                                object
Source                                               object
Source Campaign                                     float64
Campaign Name                                        object
Programme financé                                    object
Action financée                                      object
Agreement                                            object
Signature date of the agreement              datetime64[ns]
Agreement expiry date                        datetime64[ns]
Duration of agreement (months)                       object
Deadline for submission of interim report    datetime64[ns]
Final report deadline                        datetime64[ns]
Type de contrat                                      object
Type de financement                                  object
Zone SDLV                                            object
Theorical payment date 1                     datetime64[ns]
Theorical payment amount 1                           object
Theorical payment date 2                     datetime64[ns]
Theorical payment amount 2                           object
Theorical payment date 3                     datetime64[ns]
Theorical payment amount 3                           object
Theorical payment date 4                     datetime64[ns]
Theorical payment amount 4                           object
Theorical payment date 5                     datetime64[ns]
Theorical payment amount 5                           object
Created On                                   datetime64[ns]
Last Modified Date                           datetime64[ns]
Actual Close Date                            datetime64[ns]
Assignment Date                              datetime64[ns]
Branch ID                                            object
dtype: object

In [25]:
question1_df = opportunities.merge(business_account, on = "Business Account")

In [26]:
question1_df

,Opportunity ID,Business Account,Contact ID,Estimated Close Date,Status,Stage,Probability,Estimated amount,Amount received,Difference,...,Parent Business Account,Owner Name_y,Follow-up with_y,Postal Code,City,State,Country ID,Country Name,Created On_y,Last Modified On
0,6387,C00037,35334.0,2023-11-27,New,Won,100,9000.00,NaN,-9000.0,...,NaN,29.0,25.0,69001,LYON,NaN,FR,France,2021-02-02 15:35:25.690,2023-10-10 17:02:23.207
1,4666,C00037,35334.0,2022-11-21,Won,Won,200,8000.00,8000.00,0.0,...,NaN,29.0,25.0,69001,LYON,NaN,FR,France,2021-02-02 15:35:25.690,2023-10-10 17:02:23.207
2,4090,C00037,NaN,2022-05-31,Won,Won,200,258.28,258.28,0.0,...,NaN,29.0,25.0,69001,LYON,NaN,FR,France,2021-02-02 15:35:25.690,2023-10-10 17:02:23.207
3,4068,C00037,NaN,2022-05-27,Won,Won,200,500.00,500.00,0.0,...,NaN,29.0,25.0,69001,LYON,NaN,FR,France,2021-02-02 15:35:25.690,2023-10-10 17:02:23.207
4,2655,C00037,35334.0,2021-10-27,Won,Won,200,8000.00,8000.00,0.0,...,NaN,29.0,25.0,69001,LYON,NaN,FR,France,2021-02-02 15:35:25.690,2023-10-10 17:02:23.207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5862,98,C00455,NaN,2020-01-01,Won,Won,100,2000.00,NaN,-2000.0,...,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:36:59.677,2021-02-18 09:59:09.900
5863,75,C00326,NaN,2020-01-01,Won,Won,100,2273.00,NaN,-2273.0,...,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:36:34.687,2021-02-18 09:58:52.360
5864,73,C00298,NaN,2020-01-01,Won,Won,100,2500.00,NaN,-2500.0,...,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:36:29.683,2023-09-27 14:35:12.283
5865,56,C00219,NaN,2020-01-01,Won,Won,100,20000.00,NaN,-20000.0,...,NaN,28.0,24.0,26400,CREST,NaN,FR,France,2021-02-02 15:36:14.830,2023-03-15 14:33:35.810
5866,16,C00095,NaN,2020-01-01,Won,Won,100,15000.00,NaN,-15000.0,...,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:38.793,2021-02-18 09:58:18.053

In [27]:
question1_df.isna().sum()

Opportunity ID                                  0
Business Account                                0
Contact ID                                   3172
Estimated Close Date                            0
Status                                          0
Stage                                           0
Probability                                     0
Estimated amount                                0
Amount received                              3147
Difference                                      0
Owner Name_x                                  247
Follow-up with_x                             4884
Class ID                                        0
Class_x                                         0
Source                                       5327
Source Campaign                              4710
Campaign Name                                4710
Programme financé                            2115
Action financée                              5496
Agreement                                    2079
Signature date of the agreement              5618
Agreement expiry date                        5625
Duration of agreement (months)               5572
Deadline for submission of interim report    5821
Final report deadline                        5792
Type de contrat                              5623
Type de financement                          3309
Zone SDLV                                    2992
Theorical payment date 1                     5524
Theorical payment amount 1                   5553
Theorical payment date 2                     5768
Theorical payment amount 2                   5771
Theorical payment date 3                     5814
Theorical payment amount 3                   5815
Theorical payment date 4                     5848
Theorical payment amount 4                   5848
Theorical payment date 5                     5857
Theorical payment amount 5                   5857
Created On_x                                    0
Last Modified Date                              0
Actual Close Date                            1509
Assignment Date                               226
Branch ID                                       0
Customer Status                                 0
Type                                            0
Partner type                                  618
Class_y                                       763
Class Name                                    763
Activity sector                              1692
Parent Business Account                      5554
Owner Name_y                                  317
Follow-up with_y                             4091
Postal Code                                    90
City                                          109
State                                        5766
Country ID                                      0
Country Name                                    0
Created On_y                                    0
Last Modified On                                0
dtype: int64

In [28]:
question1_df["Country Name"].unique()

array(['France', 'Italie', 'United States of America', 'Belgique',
       'United Kingdom of Great Britain and Northern Ireland', 'Suisse',
       'Switzerland', 'États-Unis', 'Monaco', 'Espagne', 'Royaume-Uni',
       'Luxembourg', 'Allemagne', 'Bermuda', 'Reunion !Réunion',
       'Belgium', 'Germany'], dtype=object)

In [29]:
relevant_col_qs_1 = question1_df[["Business Account", "Stage", "Difference", "Created On_x", "Actual Close Date", "Postal Code", "Country Name", "Activity sector" ]]

In [30]:
relevant_col_qs_1.isna().sum()

Business Account        0
Stage                   0
Difference              0
Created On_x            0
Actual Close Date    1509
Postal Code            90
Country Name            0
Activity sector      1692
dtype: int64

In [31]:
replacement_date = pd.to_datetime("2023-10-20")
relevant_col_qs_1["Actual Close Date"].fillna(replacement_date, inplace = True)

/opt/tljh/user/lib/python3.7/site-packages/pandas/core/series.py:4469: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [32]:
relevant_col_qs_1.isna().sum()

Business Account        0
Stage                   0
Difference              0
Created On_x            0
Actual Close Date       0
Postal Code            90
Country Name            0
Activity sector      1692
dtype: int64

In [33]:
relevant_col_qs_1["Postal Code"].unique()

array(['69001', '69007', '92290', '75010', '69450', '69002', '75011',
       '74000', '69009', '69290', '93400', '69110', '94270', '59700',
       '92130', '75008', '75007', '92200', '66033', '94200', '75016',
       '75116', '69006', '92400', '92300', '78400', '75017', '92380',
       '75009', '75005', '69003', '92110', '59370', '93006', '93200',
       '75382', '13006', '59040', '59033', '92600', '59564', '69740',
       '59312', '59505', '69220', '59777', '00000', '13016', '75001',
       '13008', '13302', '69570', '94710', '75013', '75015', '92445',
       '92784', '38920', '42000', '75019', '92270', '1000', 'BA114FN',
       '6300', 'KT22 7SW', '69410', '69280', '78170', '01600', '69134',
       '92100', '92048', '75002', '13097', '92851', '93410', '78990',
       '38130', '38000', '73000', '74300', '0', '75006', '69219', '38041',
       '42012', '94250', '1260', '75886', '92981', '69160', '69257',
       '75378', '69150', 'NY, 10155', '92723', '92700', '13013', '13007',
       '95503', '93007', '91000', '95000', '26240', '93000', '93701',
       '78280', '93008', '69287', '69211', nan, 'MA 02142', '38150',
       'NY 10036', 'SW114PD', '10019', '10017', 'NY 10111', 'NY 10017',
       'NY 10019', '94310', '93290', '69367', '8044', '91300', '59100',
       '59664', '59866', '59262', '62000', '62110', '59039', '59555',
       '59020', '69120', '69500', '0000', '59290', '69517', '93633',
       '92800', '69100', '92500', '26000', '69286', '59170', '59054',
       '59650', '69370', '72005', '92117', 'EC2N 4AY', '10010', '92522',
       '69800', '38360', '69140', '77564', '92208', '10156', '98000',
       '01140', '80039', '69008', '93210', '95700', '31240', '13005',
       '74016', '33000', '69700', '76100', '13009', 'ATLANTA 30313',
       '62051', 'IL 60602', 'MA 02199-8197', 'NY10029', 'NY 10022',
       'NY 10021', 'NY 10024', '42400', '92040', '13002', '92411',
       '69487', '69300', '67300', '78180', '42163', '42100', '92000',
       '91097', '13284', '01150', '69336', '74400', '69005', '92150',
       '69350', '60606', '69624', '69330', '59811', '84700', '13741',
       'IL 60093', '78000', '59451', '20005', '69960', 'NY 10167',
       '13290', '34470', '69760', '84300', '69004', '73440', '38430',
       '73490', '26250', '73094', '94400', '45160', '92066', '69200',
       '69360', '68400', '13320', '69444', '75012', '13011', '92727',
       '83510', '13740', '69310', '13386', 'NJ 08807', '13090', '59000',
       '92160', '89100', '94150', '91200', '77140', '91220', '60330',
       '91919', '94111', 'NJ 07643', '55102-2233', '56000', '59128',
       '92521', '75564', '22700', '69550', '59130', '94000', '78140',
       '92062', '13001', '06560', '44800', '92259', '69270', '95200',
       '59264', 'IL 60106', '69130', '73130', '69258', '42030', '34820',
       '44000', '92420', '59042', '59160', '42340', '91070', 'IL 60603',
       '79000', '93482', '13235', '35580', '94190', '92240', '75018',
       '10000', '38100', '75020', 'GA 31323', '73800', '69340', '08940',
       '73100', '77000', 'SW1Y6QW', '69400', '13256', '35400', '33691',
       '83190', '22380', '93500', '61001', '75599', '78640', '13012',
       '75347', '16190', '14600', '41330', '91700', '1640', '78110',
       '69380', '92127', '69680', '75003', '92210', '69580', '78430',
       '59210', '69289', '62136', '59960', '69230', '38330', '38120',
       '76016', '74997', '38700', '20121', '63000', '38210', '38640',
       '74320', '38610', '38410', '38080', '74250', '38680', '59780',
       '69600', '38300', '38190', '69170', '75004', '69660', '59800',
       '38960', '38500', '26100', '38730', '38340', '69126', '38240',
       '92814', '07160', '38690', '78190', '59200', 'EC2N4AY', '75014',
       '93450', 'NY 10055', '10011 NY', '92705', '69000', '38230',
       '91550', '78100', '92903', '75201', '1121', '69794', '92547',
       '59705', '38081', '93230', '42150', '42170', '02108', 'NY 10926',
       'SW6 1BZ', 'MA02142', '42021', 'WC2B 5DH', '34000', '1205',
       '02450', '62211', '77870', '10020', '10120', '10005',
       'NY 10019-6022', '26200', '08003', '95870', '75801', '59420',
       '95830', '94120', '60872', '01120', '91570', '1882', '54520',
       '67913', '59053', '87000', '94165', '92320', '69890', '69477',
       '69795', '62520', '60594', '59110', '59152', '60300', '98103',
       '62130', '88000', 'NY 10027', '38244', '69372', '78130', '38090',
       '69210', '42210', '1296', '42130', '42152', '92665', '69132',
       '93160', '59770', '92277', '50480', '13291', '92611', '42300',
       '92088', '11201', 'SW1E6QT', '77700', 'NY 10118', '13003',
       'NY 11201', 'NY 10016', '59410', '38801', 'L-2514', '14913',
       '13100', '13120', '38030', '59520', '93300', '63170', '92340',
       '933583', '95300', '78200', 'NY 10104', '94550', '78961', '95560',
       '95310', 'IL 60611', '13014', '95400', '74960', '01000', '62302',
       '69493', '78360', '42500', '64170', '35131', '35310', '57680',
       '21200', '84200', '93140', '94300', '95520', '60657', '57050',
       '01340', 'EC1A 4AB', '95500', '13390', '93406', '38780', '07340',
       '97436', '04100', '59014', '31650', '38560', '44023', '06370',
       '01350', '73520', '59115', '59320', '75196', '59150', '59890',
       '59790', '59491', '69250', '69850', '69720', '38200', '69630',
       '57400', '78220', '78720', '78112', '31700', '92230', '95600',
       '40150', '94600', '92116', '69393', '78350', '69632', '38021',
       '69190', '84330', '77300', '91130', '43330', '59304', '33300',
       '38860', '59390', '93100', '33290', '42580', '91080', '69751',
       '93561', '73024', '1700', '42160', '38029', 'NY10016', '13010',
       '93700', '69439', '84140', '13004', '42270', '69970', '19100',
       '62307', '94160', '69432', '1040', 'KT227SW', '42029', '69338',
       '60661', '10551', 'IL 60015', '10036', '59373', '62575', '69480',
       '1150', '92525', '10022', '26400'], dtype=object)

In [34]:
relevant_col_qs_1.dropna(subset=["Postal Code"], inplace = True)

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
relevant_col_qs_1.isna().sum()

Business Account        0
Stage                   0
Difference              0
Created On_x            0
Actual Close Date       0
Postal Code             0
Country Name            0
Activity sector      1617
dtype: int64

In [36]:
relevant_col_qs_1["Activity sector"].unique()

array(['LAW - ECONOMICS - MANAGEMENT - Accounting, Management',
       'INSURANCE - BANKING - Banking, Insurance, Finance, Investment funds',
       nan, 'INDUSTRIES - Fashion, Textiles, Leather, Clothing',
       'SECTEUR PUBLIC - Etat & ses établissements publics',
       'COMPUTING - TELECOM - Networks',
       'PUBLIC SECTOR - Local authorities, Regions, Municipalities',
       'COMPUTING - TELECOM - Video games, Internet, E-Commerce',
       'COMMERCE - Retail, Other retail, Crafts', 'AGRI-FOOD - Food',
       'ARCHITECTURE - LANDSCAPE - URBAN PLANNING',
       'BUSINESS ADMINISTRATION - Consulting, Audit, Accounting',
       'PUBLIC SECTOR - Other Public Partnership Structures',
       'TRANSPORT - Passenger transport',
       'INDUSTRIES - Chemical industry',
       'HEALTH - SOCIAL - Social, Associations, Foundations',
       'BTP - Construction', 'REAL ESTATE - Architecture, Real Estate',
       'INDUSTRIES - Food industry', 'HOTEL - CATERING - TOURISM',
       'HEALTH - SOCIAL - Paramedical',
       'MEDIA - ARTS - SPORTS - Audiovisual, Media, Publishing',
       'INDUSTRIES - Automotive',
       'LAW - ECONOMICS - MANAGEMENT - Law, justice',
       'TRANSPORT - Freight transport, logistics',
       'MEDIA - ARTS - SPORTS - Arts, Culture, Leisure, Entertainment, Random Games',
       'INDUSTRIES - Aircraft, railway, shipbuilding',
       'EDUCATION - RESEARCH - Education',
       'MEDIA - ARTS - SPORTS - Sports, Infrastructure, Clubs',
       'HEALTH - SOCIAL - Medical',
       'HR - RECRUITMENT - Recruitment agency, Interim, Training',
       'INDUSTRIES - Glass, concrete, ceramics',
       'TRANSPORT - Vehicle Rental & Repair',
       'INDUSTRIES - Metallurgy, Steel industry',
       'COMMUNICATION - Marketing, Advertising, Communication',
       'ENERGY - ENVIRONMENT - Energy',
       'CUSTOMER RELATIONS - Trade, distribution',
       'MAINTENANCE - HYGIENE - BEAUTY', 'INDUSTRIES - Luxury goods',
       'ENERGY - ENVIRONMENT - Water',
       'INDUSTRIES - Paper, Cardboard, Plastics',
       'INDUSTRIES - Electronics',
       'ARMY - SECURITY - Security, Surveillance',
       'INDUSTRIES - Maintenance',
       'ENERGY - ENVIRONMENT - Waste management, recycling',
       'INDUSTRIES - Desktop publishing, printing',
       'PUBLIC SECTOR - Political & Administrative Services',
       'INDUSTRIES - Mechanics, Armament'], dtype=object)

In [37]:
relevant_col_qs_1["Activity sector"].fillna("NO RELATED TO ANY SECTOR", inplace = True)

/opt/tljh/user/lib/python3.7/site-packages/pandas/core/series.py:4469: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [38]:
relevant_col_qs_1.isna().sum()

Business Account     0
Stage                0
Difference           0
Created On_x         0
Actual Close Date    0
Postal Code          0
Country Name         0
Activity sector      0
dtype: int64

In [39]:
won_opportunities = relevant_col_qs_1.where(relevant_col_qs_1["Stage"] == "Won")

In [40]:
won_opportunities

,Business Account,Stage,Difference,Created On_x,Actual Close Date,Postal Code,Country Name,Activity sector
0,C00037,Won,-9000.0,2023-10-11 10:59:07.310,2023-10-20,69001,France,"LAW - ECONOMICS - MANAGEMENT - Accounting, Man..."
1,C00037,Won,0.0,2022-10-06 10:34:19.770,2023-10-11,69001,France,"LAW - ECONOMICS - MANAGEMENT - Accounting, Man..."
2,C00037,Won,0.0,2022-06-02 11:42:45.323,2022-12-05,69001,France,"LAW - ECONOMICS - MANAGEMENT - Accounting, Man..."
3,C00037,Won,0.0,2022-06-01 15:32:05.357,2022-12-15,69001,France,"LAW - ECONOMICS - MANAGEMENT - Accounting, Man..."
4,C00037,Won,0.0,2021-10-27 16:51:27.160,2022-01-14,69001,France,"LAW - ECONOMICS - MANAGEMENT - Accounting, Man..."
...,...,...,...,...,...,...,...,...
5862,C00455,Won,-2000.0,2021-02-12 06:10:52.527,2021-03-19,0,France,NO RELATED TO ANY SECTOR
5863,C00326,Won,-2273.0,2021-02-12 06:10:42.330,2021-03-19,0,France,NO RELATED TO ANY SECTOR
5864,C00298,Won,-2500.0,2021-02-12 06:10:41.503,2021-03-19,0,France,NO RELATED TO ANY SECTOR
5865,C00219,Won,-20000.0,2021-02-12 06:10:33.690,2021-03-19,26400,France,"HEALTH - SOCIAL - Social, Associations, Founda..."
5866,C00095,Won,-15000.0,2021-02-12 06:10:16.153,2021-03-19,0,France,NO RELATED TO ANY SECTOR

In [42]:
cities_donations = won_opportunities[["Difference", "Postal Code"]]
sectors_donations = won_opportunities[["Difference", "Activity sector"]]
business_accounts = won_opportunities[["Difference", "Business Account"]]

In [43]:
import matplotlib.pyplot as plt


def plot_difference(data_frame, title):
    plt.figure(figsize=(8, 6))
    plt.bar(data_frame["Business Account"], data_frame["Difference"])
    plt.xlabel("Business Account" if title == "business_accounts" else "X-Axis Label")
    plt.ylabel("Difference")
    plt.title(title)
    plt.xticks(rotation=90)
    plt.show()

In [44]:
# Plot for cities_donations
plot_difference(cities_donations, "cities_donations")

# Plot for sectors_donations
plot_difference(sectors_donations, "sectors_donations")

# Plot for business_accounts
plot_difference(business_accounts, "business_accounts")

KeyError: 'Business Account'