In [2]:
import pandas as pd
import numpy as np

In [3]:
business_account = pd.read_excel("../shared_data_read_only/Business Account.xlsx")
consumer_price_index = pd.read_excel("../shared_data_read_only/consumer_price_index.xlsx")
contacts = pd.read_excel("../shared_data_read_only/Contacts.xlsx")
data_dictionary = pd.read_excel("../shared_data_read_only/Data dictionary.xlsx")
invoice_opportunities = pd.read_excel("../shared_data_read_only/Invoice and Opportunities.xlsx")
items_opportunities = pd.read_excel("../shared_data_read_only/Items and Opportunities.xlsx")
non_stock_items = pd.read_excel("../shared_data_read_only/Non-Stock Items.xlsx")
opportunities = pd.read_excel("../shared_data_read_only/Opportunities.xlsx")

In [4]:
df = opportunities.merge(business_account, how="left")
df

,Opportunity ID,Business Account,Contact ID,Estimated Close Date,Status,Stage,Probability,Estimated amount,Amount received,Difference,...,Partner type,Class Name,Activity sector,Parent Business Account,Postal Code,City,State,Country ID,Country Name,Last Modified On
0,6387,C00037,35334.0,2023-11-27,New,Won,100,9000.0,NaN,-9000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,6386,C01254,36240.0,2023-10-11,New,Won,100,9000.0,NaN,-9000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,6385,C21512,47640.0,2023-10-11,New,Oral agreement,80,140.0,NaN,-140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,6384,C21509,47636.0,2023-10-11,New,Oral agreement,80,350.0,NaN,-350.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,6383,C21508,47635.0,2023-10-10,New,Oral agreement,80,120.0,NaN,-120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,5,C00036,NaN,2020-01-01,Won,Won,100,1059.0,NaN,-1059.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
5982,4,C00024,NaN,2020-01-01,Won,Won,200,7500.0,7500.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
5983,3,C00011,NaN,2020-01-01,Won,Won,100,35000.0,NaN,-35000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
5984,2,C00331,NaN,2020-01-01,Won,Won,100,20000.0,NaN,-20000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
5985,1,C00331,NaN,2020-01-01,Won,Won,100,10000.0,NaN,-10000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT