In [1]:
import pandas as pd
import numpy as np

In [2]:
business_account = pd.read_excel("../shared_data_read_only/Business Account.xlsx")
consumer_price_index = pd.read_excel("../shared_data_read_only/consumer_price_index.xlsx")
contacts = pd.read_excel("../shared_data_read_only/Contacts.xlsx")
data_dictionary = pd.read_excel("../shared_data_read_only/Data dictionary.xlsx")
invoice_opportunities = pd.read_excel("../shared_data_read_only/Invoice and Opportunities.xlsx")
items_opportunities = pd.read_excel("../shared_data_read_only/Items and Opportunities.xlsx")
non_stock_items = pd.read_excel("../shared_data_read_only/Non-Stock Items.xlsx")
opportunities = pd.read_excel("../shared_data_read_only/Opportunities.xlsx")

In [3]:
items_opportunities[items_opportunities["Opportunity ID"] == 5]

,Opportunity ID,Line Nbr.,Inventory ID,Year,Unit Price,Quantity,UOM,Ext. Price,Currency,Discount Amount,"Discount, %",Funded Program,Free Item,Tax Category
7452,5,1.0,MECENAT,2020.0,850.0,1.0,PIECE,850.0,EUR,0.0,0.0,Non specified,False,0
7453,5,2.0,MECENAT,2021.0,209.0,1.0,PIECE,209.0,EUR,0.0,0.0,Non specified,False,TVA0

In [9]:
opportunities

,Opportunity ID,Business Account,Contact ID,Estimated Close Date,Status,Stage,Probability,Estimated amount,Amount received,Difference,...,Theorical payment amount 3,Theorical payment date 4,Theorical payment amount 4,Theorical payment date 5,Theorical payment amount 5,Created On,Last Modified Date,Actual Close Date,Assignment Date,Branch ID
0,6387,C00037,35334.0,2023-11-27,New,Won,100,9000.0,NaN,-9000.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-11 10:59:07.310,2023-10-11 10:59:07.310,NaT,2023-10-11 10:58:16.137,SDLV
1,6386,C01254,36240.0,2023-10-11,New,Won,100,9000.0,NaN,-9000.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-11 10:55:50.773,2023-10-11 10:55:50.773,NaT,2023-10-11 10:53:26.857,SDLV
2,6385,C21512,47640.0,2023-10-11,New,Oral agreement,80,140.0,NaN,-140.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-11 08:53:52.533,2023-10-11 08:54:37.860,NaT,2023-10-11 08:52:52.257,SDLV
3,6384,C21509,47636.0,2023-10-11,New,Oral agreement,80,350.0,NaN,-350.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-11 08:42:41.140,2023-10-11 08:42:41.140,NaT,2023-10-11 08:41:27.513,SDLV
4,6383,C21508,47635.0,2023-10-10,New,Oral agreement,80,120.0,NaN,-120.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-10 15:54:31.827,2023-10-10 15:56:12.527,NaT,2023-10-10 15:53:17.550,SDLV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,5,C00036,NaN,2020-01-01,Won,Won,100,1059.0,NaN,-1059.0,...,NaN,NaT,NaN,NaT,NaN,2021-02-12 06:10:11.650,2022-12-14 09:45:10.033,2022-12-14,2021-02-12 06:10:11.487,SDLV
5982,4,C00024,NaN,2020-01-01,Won,Won,200,7500.0,7500.0,0.0,...,NaN,NaT,NaN,NaT,NaN,2021-02-12 06:10:11.167,2021-11-17 15:22:01.390,2021-11-17,2021-02-12 06:10:09.940,SDLV
5983,3,C00011,NaN,2020-01-01,Won,Won,100,35000.0,NaN,-35000.0,...,NaN,NaT,NaN,NaT,NaN,2021-02-12 06:10:09.633,2021-03-19 07:01:54.480,2021-03-19,2021-02-12 06:10:09.520,SDLV
5984,2,C00331,NaN,2020-01-01,Won,Won,100,20000.0,NaN,-20000.0,...,NaN,NaT,NaN,NaT,NaN,2021-02-12 06:10:09.020,2021-08-25 11:52:18.820,2021-08-25,NaT,SDLV
5985,1,C00331,NaN,2020-01-01,Won,Won,100,10000.0,NaN,-10000.0,...,NaN,NaT,NaN,NaT,NaN,2021-02-12 06:10:08.500,2021-03-19 07:01:54.050,2021-03-19,NaT,SDLV